$primary-font-color: #dddddd;

$workspace-header-bg-color: #333333;
$workspace-editor-bg-color: #1e1e1e;
$workspace-sidebar-bg-color: #252526;
$workspace-dragbar-bg-color: #333333;
$workspace-footer-bg-color:#007ACC;


